<h1>Your Flight has Been Reserved!</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2 well booking">

		<h3>Flight Details</h3>

		<p>
			<strong>Your Customer ID:</strong>
			<%= @reservation.user_id %>
		</p>
		<p>
			<strong>Reservation ID:</strong>
			<%= @reservation.id %>
		</p>
		
		<table class="table">
			<thead>
				<tr>
					<th>Booking Number:</th>
					<th>Departing Airport</th>
					<th>Departing Airport Code</th>
					<th>Arrival Airport</th>
					<th>Arrival Airport Code</th>
					<th>Departure Date</th>
					<th>Departure Time</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><%= @reservation.id %></td>
					<td><%= @reservation.flight.departure_airport.name %></td>
					<td><%= @reservation.flight.departure_airport.code %></td>
					<td><%= @reservation.flight.arrival_airport.name %></td>
					<td><%= @reservation.flight.arrival_airport.code %></td>
					<td><%= @reservation.flight.departure_date.strftime("%d/%m/%Y") %></td>
					<td><%= @reservation.flight.departure_date.strftime("%H:%M") %></td>
				</tr>
			</tbody>
		</table>

		<h3>Travellers details</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Address</th>
				</tr>
			</thead>

			<tbody>
				<% @reservation.customers.each do |c| %>
					<tr>
						<td><%= c.name %></td>
						<td><%= c.email %></td>
						<td><%= c.address %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>



<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
